.gs-option {
    color: black;
}

.gs-light-grey {
    color: black;
    background-color: #bdc3c7;
}

.gs-grey {
    color: white;
    background-color: #2c3e50;
}

.gs-grey-blue-hover:hover {
    /*color: white;*/
    color: white!important;
    background-color: #1A3D61!important;
}

.gs-grey-blue {
    color: white;
    background-color: #1A3D61;
}

.gs-dark-blue-hover:hover {
    /*color: white;*/
    color: white!important;
    background-color: #041C34!important;
}

.gs-dark-blue {
    color: white;
    background-color: #041C34;
}

.gs-green {
    background-color: #22B14C;
}

.gs-grey-hover:hover {
    color: #bdc3c7!important;
    background-color: #2c3e50!important;
}

.gs-text-pale-red {
    color: #fd9696!important;
}

.gs-text-pale-green {
    color: #bffd96!important;
}

.gs-text-pale-yellow {
    color: #fdf396!important;
}